@{
    ViewBag.Title = "Home Page";
}

<main class="text-center">
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <h1>BENVENUTO AL GRAND BUDAPEST BACKOFFICE</h1>
    <div class="mt-5"></div>
    <h2>USA I MENU A TENDINA QUI SOPRA</h2>
    <div class="mt-5"></div>
    <h2>Clicca login se non sei loggato</h2>
</main>